html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

div {
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 4px;
  height: 100%;
  padding: 4px;
}

.white {
  background-color: rgb(246, 205, 151);
}

.red {
  background-color: brown;
}

.red1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.red2 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.gate {
  background-color: blueviolet;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
