html {
  height: 100vh;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

div:not(.wrapper) {
  border: 1px solid #ddd;
  background-color: rgb(182, 211, 19);
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.25rem;
  height: 100%;
  padding: 0.25rem;
}

.big-block {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #e94a26 !important;
}
