:root {
  --primary-background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

button {
  background-color: #eef7ff;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-weight: 600;
  border: 1px solid #5cb2ff;
}

input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: var(--heading-color);
  background-clip: border-box;
  background-color: #fff;
  padding: 7px 0px;
  margin-bottom: 25px;
}

section {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 1360px;
  max-width: 1360px;
}

.card {
  border-radius: 0.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  padding: 0 1rem;
}

header nav .brand-logo {
  cursor: pointer;
}

header > nav > div {
  text-align: right;
}

header > nav > div > ul > li {
  display: inline-block;
  list-style: none;
  padding: 0.5rem;
}

header a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
}

/*
Home Banner
*/

section#home {
  background-color: #eef7ff;
  height: 700px;
}

section#home > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#home > .container > div {
  padding: 0 5rem;
}

/*
Our Story
*/

section#ourstory {
  height: 700px;
}

section#ourstory > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#ourstory > .container > div {
  padding: 0 5rem;
}

/*
Motivation
*/

section#motivation > .container {
  margin: 1rem;
}

section#motivation > .container > .card {
  background-color: #eef7ff;
  padding: 1rem;
}

/*
features
*/
section#features > .container {
  padding: 5rem 0rem;
}

section#features > .container > .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

section#features > .container > .cards > .card {
  background-color: #eef7ff;
  padding: 0.5rem;
}

/*
pricing
*/
section#pricing > .container {
  padding: 5rem 0rem;
}

section#pricing > .container > .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

section#pricing > .container > .cards > .card {
  background-color: #eef7ff;
  padding: 0.5rem;
}

/*
contactus
*/
section#contactus > .container {
  padding: 5rem 0rem;
}

section#contactus .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

/*
appfooter
*/

footer#appfooter {
  height: 200px;
  background-color: #eef7ff;
  display: flex;
  justify-content: center;
}

footer#appfooter > .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 2rem 0;
}
