:root {
  --primary-background-color: #2f2a59;
}

* {
  border: 1px solid #000;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 1360px;
  max-width: 1360px;
}

.card {
  border-radius: 0.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  color: #fff;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  padding: 0 1rem;
}

header nav .brand-logo {
  cursor: pointer;
}

header > nav > div {
  text-align: right;
}

header > nav > div > ul > li {
  display: inline-block;
  list-style: none;
  padding: 0.5rem;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
}

/*
Home Banner
*/

section#home {
  background-color: #eef7ff;
  height: 700px;
}

section#home > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#home > .container > div {
  padding: 0 5rem;
}

/*
Our Story
*/

section#ourstory {
  height: 700px;
}

section#ourstory > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#ourstory > .container > div {
  padding: 0 5rem;
}

/*
Motivation
*/

section#motivation > .container > .card {
  margin: 1rem;
  background-color: #eef7ff;
  padding: 1rem;
}

/*
features
*/
section#features > .container > .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5rem 1.5rem;
}

section#features > .container > .cards > .card {
  background-color: #eef7ff;
  padding: 0.5rem;
}

/*
pricing
*/
section#pricing > .container > .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5rem 1.5rem;
}

section#pricing > .container > .cards > .card {
  background-color: #eef7ff;
  padding: 0.5rem;
}
